
@{
    ViewBag.Title = "nedir";
}

<div class="container">
    <div class="jumbotron">
        <h1>Bu Nedir?</h1>
        <p>
            Bu platform rastgele kullanıcıların birbirinden habersiz şekilde bir hikaye başlatarak ve bu hikayeyi devam ettirerek insanların toplu bir şekilde hikaye yazmasını sağlayacak, bu şekilde aynı hikayede bir çok insanın yaratıcılığı, zekası, düşünme gücü kullanılarak ortaya güzel bir hikaye çıkması sağlanacak.
            Web sitemizde kullanıcıların 3 seviyesi vardır. <br />
            <h2>Seviyeler:</h2>
            <b>3.Seviye:</b>   En üst seviyedir, bu seviyedeki kullanıcıları diğer seviyedeki kullanıcılardan ayıran farkı  “hikaye başlatabilmeleridir”. Bu kullanıcılar Tür/Konu belirleyerek belirlediğim karakter sayısını geçemeyecek şekilde bir metin yazarak bir hikaye başlatabilecek, daha sonradan bu metni değiştiremeyecek ve başlattıkları hikayeye daha sonra metin ekleme şansları olmayacak. Ayrıca başka hikayelere de metin ekleyebilirler(daha sonra değiştiremezler).<br />
            <b>2.Seviye:</b>   Bu seviyedeki kullanıcılar yalnızca başlatılan hikayelere belirlediğim karakter sayısını geçemeyecek şekilde metin ekleyebilecekler. <br />
            <b>1.Seviye:</b>  Sisteme yeni kayıt olan yeni kullanıcıların aldıkları seviyedir. Sadece biten hikayelere yorum yazabilirler.<br />
            <b>Seviyeler Arası Geçiş:</b>  1.seviyedeki kullanıcılar yaptıkları yorumlardan topladıkları puana göre, 2.seviyedeki kullanıcılar hikayelere ekledikleri metinlerden topladıkları puana göre seviye atlayabilecekler.
            <br />
            Her hikayenin toplam bölüm aralık sayısı olacak, hikayedeki parça sayısı bu sayı aralığına geldiğinde hikayeye metin ekleyen kullanıcılar hikayeyi bitirebilir eğer hikayeyi bitirmezlerse hikaye, bitirme aralığının son sayısına geldiğinde ( yani son bir metin ekleme hakkı kalındığında) o metni giren kullanıcı hikayeyi bitirmek zorunda kalacak.
            Her yıl en çok beğenilen 15 hikaye 1 kitapta basılacak. Kitabın kapağında bu hikayeleri başlatan ve metin ekleyen kullanıcıların adı soyadı yazıp kitaptan bu kullanıcılara hediye edilecek.

        </p>
    </div>

</div>

